@page "/logout"
@using WebUI.Providers
@using SharedLib.DTOs;

@inject ILocalStorageService localStorage
@inject WasmAuthenticationStateProvider authStateProvider
@inject NavigationManager NavigationManager
@inject NavigationManager Navigation

<h3>LogoutPage</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await localStorage.RemoveItemAsync("auth_user");
        authStateProvider.NotifyAuthenticationStateChanged();
        Navigation.NavigateTo("/login", forceLoad: false);
    }
}
